form {
  background: #f6f1d1;
  font-weight: bold;
  padding: 20px;
  width: 30rem;
  border-radius: 10px;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
  animation-duration: 3s;
  animation-duration: 3s;
  animation-name: aparecer;
}

.seccionContacto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  color: black;
}

.botonesEnviarLimpiar {
  display: flex;
}

.botonEnviar {
  display: flex;
  margin: auto;
  margin-top: 1rem;
}

.botonLimpiar {
  display: flex;
  margin: auto;
  margin-top: 1rem;
}

.cajaContacto {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
}

#imagenContacto {
  border-radius: 10px;
  animation-duration: 3s;
  animation-duration: 3s;
  animation-name: aparecer;
}

.enviar {
  background-color: #40798c;
  padding: 3px;
  border-radius: 4px;
  font-weight: bold;
  border-collapse: collapse;
}

.limpiar {
  background-color: #40798c;
  padding: 3px;
  border-radius: 4px;
  font-weight: bold;
  border-collapse: collapse;
}
