#presentacion {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 90vh;
  align-items: center;
}

#fotoLaCompañia {
  margin-top: 30px;
  border-radius: 10px;
  animation-duration: 3s;
  animation-duration: 3s;
  animation-name: aparecer;
}

.fraseInicio {
  font-size: 2rem;
  color: white;
  margin-top: 40px;
  align-items: center;
  animation-duration: 3s;
  animation-name: aparecer;
}

.botonElegi {
  animation-duration: 3s;
  animation-name: aparecer;
}

.clickElegi {
  text-decoration: none;
  color: white;
}

.tresimagenes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.contenedorImagen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedorImagen figure {
  position: relative;
  height: 550px;
  width: 400px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.contenedorImagen figure img {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
}

.contenedorImagen figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(32, 37, 37, 0.8);

  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.contenedorImagen figure:hover > .capa {
  opacity: 1;
  visibility: visible;
  transition: all 500ms ease-out;
}

.contenedorImagen figure:hover > .capa h3 {
  margin-top: 250px;
}

h3 {
  color: white;
  font-size: 4rem;
}
