.todosLosProductos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 1.5rem;
  align-items: center;
}

.todosLosProductos__card {
  width: 315px;
  height: 477px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  background-color: #0b2027;
  overflow: hidden;
  align-items: center;
  text-align: center;
  transition: all 0.25s;
}

.todosLosProductos__card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.todosLosProductos__imagenes {
  width: 295px;
  height: 457px;
  margin-top: 7px;
}
